.centerContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.centerContent img {
  max-width: 300px;
  height: auto;
  margin-bottom: 2rem;
}

body {
  background-color: green;
}

h1, h3, h4 {
  line-height: 1.1;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Poiret One', cursive;
}

a:link, a:visited {
  color: #000;
}

a:hover {
  color: red;
  transition: color .2s;
}

#socialIcons {
  margin-top: 2rem;
}

i {
  margin-right: 2rem;
}