nav > ul {
  flex-direction: row !important;
}

nav {
  background-color: #FBFBFB !important;
}

.header {
  margin-bottom: 2rem;
}

.project-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-img img {
  margin: .5em 0;;
}

.projects > p {
  margin-top: .5em;
}

#first {
  transition: all .4s;
}

#first:hover {
  width: 300px;
  height: 500px;
  /* transform: scale(1.1); */
  transition: transform .2s ease-in-out;
  transition: all .4s;
}

main {

}