body {
    background: #2198FE;
    width: 100%;
    height: 100%;
    margin: 0;
}

#bg img {
    object-fit: fill;
}

#sonic {
    z-index: 10;
    position: absolute;
    left: 1px;
}

#sonic-sprite-stop {
    height: 150px;
    position: relative;
    top: 11px;
}

#sonic-sprite-running {
    height: 120px;
    position: relative;
    top: 20px;
    display: none;
}

#sonic-sprite-jump {
    height: 90px;
    position: relative;
    top: 50px;
    display: none;
}