/*
  bgGray - #FBFBFB
  weirdGreen - #BCD8C1
  greyBrown - #423E37
  darkGreen - #272D2D
  red - #E82744
*/

/* Variables */

:root {
  --null: "";
}

::selection {
  background: #E82744;
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 10;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', cursive;
  color: #fff;
}

p {
  color: #fff;
}

a:visited, a:active, a:link {
  color: #fff;
}

a:hover {
  color: rgb(218, 93, 112);
  transition: all .2s;
}

/* Page Content */

.yblogo3 {
  font-size: 5em;
  text-align: center;
  margin: 0 auto 0 auto;
  font-family: 'Zeyada', cursive;
  display: inline;
  padding-top: 1em;
}

nav {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.wrapper {
  background-color: #151515;
  z-index: 5;
  padding: 1em;
  border-radius: 10px;
  margin-top: 8em;
  margin-bottom: 4em;
  opacity: .9;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 0em;
}

footer > ul > li {
  display: inline-block;
  margin-right: 1em;
}

.small-logo > img {
  width: 60px;
  height: 60px;
  filter: invert(1);
}