body {
  background-color: #000;
  color: green;
  font-family: "Lucida Sans";
  width: 100px;
}

#scrollingTxt {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  width: 100vw;
  text-align: center;
  margin: auto;
}

#scrollingTxt > div {
  display: inline-flex;
  margin: 1em .75em;
  width: 1em;
  height: 1em;
}

.wborder {
  border: 1px solid #fff;
}